extends layout

block content
  #timeline.content-main.AdaptiveSearchTimeline(role="main", aria-labelledby="content-main-heading")
    span.visuallyhidden(id="content-main-heading") Search results
    .stream-container
      .stream-item.js-new-items-bar-container
      .stream
        ol.stream-items.js-navigable-stream(id="stream-items-id")
          each tweet in message.data.statuses 
            li.js-stream-item.stream-item.stream-item(data-item-id='#{tweet.id}', data-item-type='tweet')
              .tweet.js-stream-tweet.js-actionable-tweet.js-profile-popup-actionable.dismissible-content.original-tweet.js-original-tweet.my-tweet.has-cards.has-content(data-tweet-id='#{tweet.id}', data-item-id='#{tweet.id}', data-permalink-path='/johnfpendleton/status/#{tweet.id}', data-conversation-id='#{tweet.id}', data-can-be-self-threaded='true', data-tweet-nonce='#{tweet.id}-1a83e59c-d205-485a-95f2-b538d5da2253', data-tweet-stat-initialized='true', data-screen-name='johnfpendleton', data-name='John Pendleton 🌹', data-user-id='805852551090470914', data-you-follow='false', data-follows-you='false', data-you-block='false', data-reply-to-users-json='[{"id_str":"805852551090470914","screen_name":"johnfpendleton","name":"John Pendleton \ud83c\udf39","emojified_name":{"text":"John Pendleton \ud83c\udf39","emojified_text_as_html":"John Pendleton \u003cspan class=\"Emoji Emoji--forLinks\" style=\"background-image:url(\'https:\/\/abs.twimg.com\/emoji\/v2\/72x72\/1f339.png\')\" title=\"Rose\" aria-label=\"Emoji: Rose\"\u003e&nbsp;\u003c\/span\u003e\u003cspan class=\"visuallyhidden\" aria-hidden=\"true\"\u003e\ud83c\udf39\u003c\/span\u003e"}}]', data-disclosure-type='', data-has-cards='true', data-component-context='tweet', data-tfb-view='/i/tfb/v1/quick_promote/#{tweet.id}')
                .context
                .content
                  .stream-item-header
                    a.account-group.js-account-group.js-action-profile.js-user-profile-link.js-nav(href='http://twitter.com/#{tweet.user.screen_name}', data-user-id='#{tweet.user.id}')
                      img.avatar.js-action-profile-avatar(src='#{tweet.user.profile_image_url}', alt='')
                      span.FullNameGroup
                        strong.fullname.show-popup-with-id.u-textTruncate(data-aria-label-part='')= tweet.user.name
                      span.username.u-dir.u-textTruncate(dir='ltr', data-aria-label-part='')
                        | @
                        b= tweet.user.screen_name
                    small.time
                      a.tweet-timestamp.js-permalink.js-nav.js-tooltip(href='http://twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}', title='#{tweet.created_at}', data-conversation-id='#{tweet.id}')
                        span._timestamp.js-short-timestamp.js-relative-timestamp(data-time='1523574002', data-time-ms='1523574002000', data-long-form='true', aria-hidden='true') 8h
                        span.u-hiddenVisually(data-aria-label-part='last') 8 hours ago

                  .js-tweet-text-container
                    p.TweetTextSize.js-tweet-text.tweet-text(lang='en', data-aria-label-part='0')= tweet.text
                    .AdaptiveMediaOuterContainer
                      .AdaptiveMedia.is-square
                        .AdaptiveMedia-container
                          .AdaptiveMedia-singlePhoto(style='padding-top: calc(0.5 * 100% - 0.5px);')
                            .AdaptiveMedia-photoContainer.js-adaptive-photo(data-image-url='https://pbs.twimg.com/media/DaHUSr4W0AYtmaH.jpg', data-element-context='platform_photo_card', style='background-color:rgba(27,61,64,1.0);', data-dominant-color='[27,61,64]')
                              img(data-aria-label-part='', src='https://pbs.twimg.com/media/DaHUSr4W0AYtmaH.jpg', alt='', style='width: 100%; top: -0px;')
                  .stream-item-footer
                    .ProfileTweet-actionCountList.u-hiddenVisually
                      span.ProfileTweet-action--reply.u-hiddenVisually
                        span.ProfileTweet-actionCount(aria-hidden='true', data-tweet-stat-count='0')
                          span.ProfileTweet-actionCountForAria(id='profile-tweet-action-reply-count-aria-#{tweet.id}')
                            #{tweet.favorite_count} likes
                    .ProfileTweet-actionList.js-actions.buffer-inserted(role='group', aria-label='Tweet actions')
                      .ProfileTweet-action.ProfileTweet-action--reply
                        button.ProfileTweet-actionButton.js-actionButton.js-actionReply(data-modal='ProfileTweet-reply', type='button', aria-describedby='profile-tweet-action-reply-count-aria-#{tweet.id}')
                          .IconContainer.js-tooltip(title='Reply')
                            span.Icon.Icon--medium.Icon--reply
                              span.u-hiddenVisually Reply
                            span.ProfileTweet-actionCount.ProfileTweet-actionCount--isZero
                              span.ProfileTweet-actionCountForPresentation(aria-hidden='true')
                      .ProfileTweet-action.ProfileTweet-action--retweet.js-toggleState.js-toggleRt
                        button.ProfileTweet-actionButton.js-actionButton.js-actionRetweet(data-modal='ProfileTweet-retweet', type='button', aria-describedby='profile-tweet-action-retweet-count-aria-#{tweet.id}')
                          .IconContainer.js-tooltip(title='Retweet')
                            span.Icon.Icon--medium.Icon--retweet
                              span.u-hiddenVisually Retweet
                            span.ProfileTweet-actionCount
                            span.ProfileTweet-actionCountForPresentation(aria-hidden='true')= tweet.retweet_count
                      .ProfileTweet-action.ProfileTweet-action--buffer.js-toggleState
                        button.ProfileTweet-actionButton.js-actionButton(type='button')
                          .IconContainer.js-tooltip(data-original-title='Add to Buffer')
                            span.Icon.Icon--circleFill
                            span.Icon.Icon--circle
                            span.Icon.Icon--buffer
                            span.u-hiddenVisually Buffer
                      .ProfileTweet-action.ProfileTweet-action--favorite.js-toggleState
                        button.ProfileTweet-actionButton.js-actionButton.js-actionFavorite(type='button', aria-describedby='profile-tweet-action-favorite-count-aria-#{tweet.id}')
                          .IconContainer.js-tooltip(title='Like')
                            span.Icon.Icon--heart.Icon--medium(role='presentation')
                            .HeartAnimation
                            span.u-hiddenVisually Like
                          span.ProfileTweet-actionCount
                          span.ProfileTweet-actionCountForPresentation(aria-hidden='true')= tweet.favorite_count
                      .ProfileTweet-action.ProfileTweet-action--award.js-toggleState
                        button.ProfileTweet-actionButton.js-actionButton.js-actionAward(type='button', aria-describedby='profile-tweet-action-award-aria-#{tweet.id}')
                          .IconContainer.js-tooltip(title='Award')
                            span.Icon.Icon--promotedTrend.Icon--medium(role='presentation')
                            span.u-hiddenVisually Award
                      .ProfileTweet-action.ProfileTweet-action--analytics
                        button.ProfileTweet-actionButton.u-textUserColorHover.js-actionButton.js-actionQuickPromote(type='button')
                          .IconContainer.js-tooltip(title='View Tweet activity')
                            span.Icon.Icon--medium.Icon--analytics
                            span.u-hiddenVisually View Tweet activity
                  